td, th {
    padding: 8px 5px;
}

.usuario{
    background-color: #0091ea;
}

/*.letraUsuario{
    color:white;
    float:right;
    margin: 10px;
}*/

a {
	cursor: pointer;
}

div#divSubida{
	position: fixed;
    bottom: 0;
    right: 0;
    width: 30%;
}